@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeoSansLight";
  src: url("/fonts/GeosansLight.ttf");
}

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  p,
  body {
    @apply leading-loose;
  }
  .a-line {
    @apply hover:underline;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before {
  background-color: #000000;
}

.hamburger-inner {
  display: block;
  top: 50%;
}
.hamburger-inner,
.hamburger-inner::before {
  width: 32px;
  height: 1.5px;
  background-color: #000000;
  border-radius: 2px;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-inner::before {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}

/* Slider */
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: translate3d(0, -10px, 0) rotate(-90deg);
}
