---
// Style Imports
import "../styles/global.css";
import "../styles/output.css";
// Component Imports
import Tour from "../components/Tour.astro";
import Nav from "../components/Nav.astro";
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "By Elements";
---

<html
  lang="en"
  style="font-family: 'GeoSansLight', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    >
    </script>
  </head>
  <body>
    <!-- <Nav /> -->
    <main>
      <!-- Hero  -->
      <hero
        class="w-screen h-screen relative flex flex-col justify-center items-center"
      >
        <!-- Left side wrapper -->
        <div
          class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-bye-grey z-0 flex flex-row items-center justify-center"
        >
          <img
            src="/assets/img/home-hero.jpg"
            class="min-w-full min-h-full object-cover"
            alt=""
          />
        </div>
        <!-- Right side wrapper -->
        <div
          class="absolute top-0 right-0 bottom-0 left-0 flex flex-col justify-center items-center z-10 p-10"
        >
          <div>
            <h2 class="text-4xl leading-relaxed text-center pb-6">
              Modern shapes combined with traditional Indonesian craftsmanship.
            </h2>
            <svg
              class="w-8 h-8 text-bye-white m-auto"
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="16"
                cy="16"
                r="15.5"
                fill="currentColor"
                stroke="currentColor"
              >
              </circle>
              <path
                d="M21.7142 15.238L15.9999 20.9523L10.2856 15.238"
                stroke="#665F52"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
              </path>
            </svg>
          </div>
        </div>
      </hero>

      <!-- Mobile only section -->
      <section class="w-full">
        <div class="container px-6 py-12 space-y-4 mb-20">
          <p class="leading-loose">
            A collection full of contemporary, complete and fresh products that
            customers can buy and resell under their own brand. The style is
            natural, handcrafted and calm
          </p>
          <a
            href="#"
            class="flex flex-row items-center hover:text-bye-taupe-200 group"
            >Why by from us?
            <svg
              class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
              width="100%"
              height="100%"
              viewBox="0 0 26 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z"
                fill="currentColor"></path>
            </svg></a
          >
        </div>
      </section>

      <!-- Intro section -->
      <section class="w-full">
        <div class="container space-y-4">
          <!-- Full width -->
          <div class="flex flex-col">
            <!-- Left side -->
            <div class="flex flex-col">
              <div class="flex flex-col space-y-6 mb-10">
                <div
                  class="flex flex-col justify-center items-center h-35v overflow-hidden"
                >
                  <img src="/assets/img/home-chair.jpg" alt="" />
                </div>
                <div class="px-6 space-y-4">
                  <h3 class="text-2xl">
                    We are an international company: European origin based in
                    Indonesia
                  </h3>
                  <p class="leading-loose">
                    We operate in different areas and cultures. Being a fusion
                    of a European and an Indonesian company and also living and
                    having customers and shops internationally makes us aware of
                    the different cultures and values on both ends of the world.
                    We can look from both the International as well as the local
                    perspective and from both the production as well as the
                    consumer’s point of view. This smoothens many layers in
                    design, communication, logistics and production.
                  </p>
                </div>
              </div>
              <div class="flex flex-col space-y-6 mb-10">
                <div
                  class="flex flex-col justify-start items-center h-35v overflow-hidden"
                >
                  <img src="/assets/img/home-person.jpg" alt="" />
                </div>
                    <div class="px-6 space-y-4">
                      <h3 class="text-2xl">
                        Experience is what we’re known for
                      </h3>
                      <p class="leading-loose">
                        Bastiaan has already been designing and producing ‘white
                        label furniture’  for renowned and successful
                        international furniture brands for years. The extensive
                        experience of developing and producing for other brands
                        has enabled us to see that our designs and products are
                        very well received by end consumers in many different
                        countries and markets.
                      </p>
                    </div>
                  </h3>
                </div>
              </div>
              <!-- Right side -->
              <div class="flex flex-col space-y-6 mb-10">
                <div
                  class="flex flex-col justify-center items-center h-35v overflow-hidden"
                >
                  <img src="/assets/img/home-handcraft.jpg" alt="" />
                </div>
                <div class="px-6 space-y-4">
                  <h3 class="text-2xl">
                    Our production takes place in our Elements Factory
                  </h3>
                  <p class="leading-loose">
                    ByE works together with Elements Factory based in Indonesia.
                    Therefore it can control its development and production
                    processes and implement its own vision and values. We are
                    there from the initial design until the finished product.
                    Our skillful team members work closely together with the
                    craftsmen to get the right products. Being present at the
                    source gives us control over every step in the process; from
                    the sourcing of materials all the way through the production
                    process.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
