---
import Header from "../components/Header.astro";
import Work from "../components/Work-with-us.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <Header />
  <body>
    <Nav />
    <main>
      <hero class="w-screen h-screen flex flex-col justify-end bg-bye-grey lg:flex-row lg:items-center">
        <div class="text-container flex flex-col space-y-4 px-6 py-10 lg:w-2/5 lg:px-16">
          <h1>Our brand values</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#" class="flex flex-row items-center hover:text-bye-taupe-200 group">
            Read more
            <svg
              class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
              width="100%"
              height="100%"
              viewBox="0 0 26 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
            </svg></a
          >
        </div><!-- /. text wrap -->
        <div class="image-container flex flex-row justify-center items-end object-cover h-30v w-full overflow-hidden lg:w-3/5 lg:h-65v">
          <img src="/assets/img/brand-values-1.jpg" alt="" class="min-h-full min-w-full object-cover" />
        </div><!-- /. img wrap -->
      </hero>
      <!-- /. hero  -->
      <div class="main-wrapper space-y-20 my-20 lg:mb-0">
        <section class="introduction-section w-full lg:mb-32">
          <div class="container">
            <div class="wrapper-grid grid grid-flow-row gap-20 w-full gap-y-32 gap-x-20 w-full lg:grid-cols-2 ">
              <div class="grid-item flex flex-col space-y-20 lg:justify-between">
                <div class="grid-subitem px-6 text-center lg:text-left lg:w-4/6">
                  <q class="text-2xl">“ByE keeps up and implements the modern trends, ensuring that the collection appeals to the target audience.”</q>
                </div>
                <!-- /.grid-subitem -->
                <div class="grid-subitem px-6 space-y-4">
                  <h2>Quality</h2>
                  <p>
                    ByE develops and makes its own products in the Elements Factory, meaning that we can keep an eye on the quality level. We make sure that the quality level meets
                    our standard, from the initial materials up to the final finishing stage. Quality is of paramount importance to ByE. Having our own wide range of products means
                    that we have tested the products over time and have tackled potential quality problems and can generate more efficiency in the production process.
                  </p>
                </div>
                <!-- /.grid-subitem -->
              </div>
              <!-- /.grid-item -->
              <div class="grid-item flex flex-row justify-center items-center h-45v overflow-hidden lg:h-auto">
                <img src="/assets/img/brand-values-2.jpg" alt="" class="object-cover" />
              </div>
              <!-- /.grid-item -->
              <div class="grid-item row-start-4 lg:row-auto">
                <div class="grid-subitem flex flex-row justify-center items-start overflow-hidden">
                  <img src="/assets/img/brand-values-3.jpg" alt="" class="object-cover" />
                </div>
              </div>
              <!-- /.grid-item -->
              <div class="subitem px-6">
                <h2>Transparancy</h2>
                <p>
                  ByE sees transparency and communication as a vital component in long term business relationships. Clarity about the production process, pricing and possibilities,
                  but also close communication in case of unforeseen obstacles or future developments is essential in mutual growth.
                </p>
              </div>
              <!-- /.grid-item -->
              <div class="grid-item flex flex-col space-y-20 lg:justify-between">
                <div class="grid-subitem px-6 text-center lg:text-left lg:w-4/6">
                  <q class="text-2xl">“Indonesia offers the craftsmanship and a rich range of natural materials to make alluring, timeless furniture and accessories.”</q>
                </div>
                <!-- /.grid-subitem -->
                <div class="grid-subitem px-6 space-y-4">
                  <h2>Communication</h2>
                  <p>
                    Communication between ByE and the customers is critical. Keeping customers informed about their orders and responding to their needs is an essential procedure.
                    ByE is established in Indonesia where we have a skilled and experienced team that speak English, Indonesian and Dutch. The grasp of the different languages,
                    cultures and production experience makes us a competent production partner to work with. ByE apprehends both the Indonesian and the international business
                    values.
                  </p>
                </div>
                <!-- /.grid-subitem -->
              </div>
              <!-- /.grid-item -->
              <div class="grid-item flex flex-row justify-center items-start">
                <img src="/assets/img/brand-values-4.jpg" alt="" class="object-cover" />
              </div>
              <!-- /.grid-item -->
              <div class="grid-item lg:flex flex-row justify-center items-start hidden">
                <img src="/assets/img/brand-values-5.jpg" alt="" class="object-cover" />
              </div>
              <!-- /.grid-item -->
              <div class="grid-item px-6 lg:flex lg:flex-col lg:justify-end">
                <h2>Innovation</h2>
                <p>
                  Innovation and continuing development of products is key in staying ahead. A distinctive, yet neutral, style by selecting the right materials and working with
                  skilled craftsmen gives the collection its character. Each year we will present a new collection.
                </p>
              </div>
              <!-- /.grid-item -->
            </div>
          </div>
        </section>
        <Work />
      </div><!-- /.main wrapper -->
    </main>
    <Footer />
  </body>
</html>
