<section class="section-catalogue w-full px-6">
  <div class="container bg-bye-earth-red text-bye-white text-center">
    <div class="flex flex-col">
      <div class="image-container">
        <img src="/assets/img/home-catalogue.jpg" alt="" />
      </div>
      <div
        class="text-container flex flex-col items-center
               space-y-4 px-6 py-10"
      >
        <h3>See the full collection in our catalogue</h3>
        <p class="hidden">
          In our catalogue you will see our most recent range of furniture and
          accessories that you can order and brand with your own label.
        </p>
        <a
          href="."
          class="flex flex-row items-center hover:text-bye-taupe-50 group"
          >Go to our catalogue
          <svg
            class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200"
            width="100%"
            height="100%"
            viewBox="0 0 26 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z"
              fill="currentColor"></path>
          </svg></a
        >
      </div>
    </div>
  </div><!-- /. container-->
</section>
<!-- /. section-catalogue -->
