<section class="section-catalogue px-6 w-full flex flex-col justify-center items-center lg:px-0">
  <div class="bg-bye-earth-red text-bye-white text-center w-full lg:flex lg:flex-row lg:text-left">
    <div class="image-container w-full flex flex-row justify-center items-center overflow-hidden lg:w-1/2">
      <img src="/assets/img/home-catalogue.jpg" alt="" class="object-cover min-w-full min-h-full" />
    </div>
    <div
      class="text-container flex flex-col justify-center items-center
               space-y-4 px-6 py-10 lg:w-1/2 lg:items-start lg:p-16 "
    >
      <h2 class="text-4xl">See the full collection in our catalogue</h2>
      <p class="hidden lg:block">In our catalogue you will see our most recent range of furniture and accessories that you can order and brand with your own label.</p>
      <a href="/catalog" class="flex flex-row items-center justify-center hover:text-bye-taupe-50 group"
        >Go to our catalogue
        <svg class="w-8 h-4 ml-2 group-hover:translate-x-2 ease-in-out duration-200" width="100%" height="100%" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
        </svg></a
      >
    </div>
  </div><!-- /. container-->
</section>
<!-- /. section-catalogue -->
