<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="text-container flex flex-col space-y-4 px-6 py-10 lg:w-2/5 lg:px-16">
  <h1 class="text-4xl">Download our catalogue</h1>
  <form
    action="https://by-elements.us14.list-manage.com/subscribe/post?u=9ee8f1ffb268d7aa84b30cbb1&amp;id=e4cd2f2bc0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  >
    <div id="mc_embed_signup_scroll" class="flex w-full flex-col space-y-4">
      <div class="mc-field-group">
        <label for="mce-FNAME">Name </label>
        <input type="text" value="" name="FNAME" class="w-full border-b-[0.5px] border-bye-white bg-bye-earth-red text-bye-white" id="mce-FNAME" required />
      </div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email</label>
        <input type="email" value="" name="EMAIL" class="required email w-full border-b-[0.5px] border-bye-white bg-bye-earth-red text-bye-white" id="mce-EMAIL" required />
      </div>
      <div class="mc-field-group">
        <label for="mce-COMPANY">Company </label>
        <input type="text" value="" name="COMPANY" class="required w-full border-b-[0.5px] border-bye-white bg-bye-earth-red text-bye-white" id="mce-COMPANY" required />
      </div>
      <div class="mc-field-group">
        <label for="mce-WEBSITE">Website </label>
        <input type="text" value="" name="WEBSITE" class="required w-full border-b-[0.5px] border-bye-white bg-bye-earth-red text-bye-white" id="mce-WEBSITE" required />
      </div>
      <div class="mc-field-group">
        <label for="mce-FIND">How did you find us? </label>
        <input type="text" value="" name="FIND" class="required w-full border-b-[0.5px] border-bye-white bg-bye-earth-red text-bye-white" id="mce-FIND" required />
      </div>
      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display: none"></div>
        <div class="response" id="mce-success-response" style="display: none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text" name="b_9ee8f1ffb268d7aa84b30cbb1_e4cd2f2bc0" tabindex="-1" value="" /></div>
      <div class="optionalParent">
        <div class="clear foot group flex flex-row items-center pt-6 hover:text-bye-taupe-50 cursor-pointer">
          <input type="submit" value="EMAIL ME THE CATALOGUE" name="subscribe" id="mc-embedded-subscribe" class="button cursor-pointer" />
          <svg
            class="ml-2 h-4 w-8 duration-200 ease-in-out group-hover:translate-x-2"
            width="100%"
            height="100%"
            viewBox="0 0 26 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
          </svg>
        </div>
      </div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
