<section class="home-our-story bg-bye-taupe-50 px-6 py-24 md:px-16 lg:px-24">
  <div class="container">
    <div class="flex flex-col lg:flex-row lg:items-center lg:justify-center">
      <div class="image-container max-h-[350px] flex-row items-center justify-start overflow-hidden lg:flex lg:w-1/2">
        <img src="/assets/img/home-handcraft.jpg" alt="" class="min-w-full object-cover" />
      </div>
      <div class="text-container space-y-4 py-6 lg:flex lg:w-1/2 lg:flex-col lg:items-start lg:justify-center lg:space-y-reverse lg:py-16 lg:pl-16">
        <h2 class="text-4xl">
          ByE designs natural, handcrafted furniture and accessories that we produce in our own production facilities at the source. We brand the products with your label and ship
          it to anywhere in the world.
        </h2>
        <p class="hidden lg:block lg:pt-4">
          We are a European company that has its roots entrenched in Indonesia. We understand the local as well as the international side of the production process and supply
          chain. Extensive experience, unique designs, control over the production process, understanding the needs of different markets, clear communication and innovation in a
          dynamic furniture industry are a few sharp advantages that we offer.
        </p>
        <a href="/why-work-with-us" class="group flex flex-row items-center hover:text-bye-taupe-200"
          >Why work with us
          <svg
            class="ml-2 h-4 w-8 duration-200 ease-in-out group-hover:translate-x-2"
            width="100%"
            height="100%"
            viewBox="0 0 26 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M19.9878 0L18.7275 1.28501L22.5611 5.10701H0V6.89299H22.5611L18.7284 10.7159L19.9878 12L26 6L19.9878 0Z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <!-- /. container-->
</section>
<!-- /. section-our-story -->
